@import 'tailwindcss';

:root {
  --bg-color: #fffdf2;
  --text-color: #242629;
}

@theme {
  /* colors */
  --color-primary: oklch(0.2 0.0079 285.67);
  --color-secondary: oklch(0.27 0.0063 258.36);
  --color-terciary: oklch(0.99 0.0146 98.28);
  --color-button: oklch(0.91 0.15455 194.7689);
  --color-button-secondary: oklch(0.59 0.2143 289.47);
  /* fonts */
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
  /* animates */
  --animate-fadeIn: fadeIn 0.2s ease-in-out;
  --animate-fadeInDown: fadeInDown 0.3s ease-in-out;
  --animate-fadeInUp: fadeInUp 0.3s ease-in-out;
  --animate-fadeInLeft: fadeInLeft 0.3s ease-in-out;
  --animate-fadeInRight: fadeInRight 0.3s ease-in-out;
  --animate-skeletonShimmer: SkeletonShimmer 1.5s linear infinite;

  @keyframes fadeIn {
    from {
      opacity: 0;
      scale: 0;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
  @keyframes SkeletonShimmer {
    from {
      transform: translateX(-110%);
    }
    to {
      transform: translateX(110%);
    }
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: theme(--color-primary) theme(--color-secondary);
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: theme(--color-secondary);
    border-radius: 4px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: theme(--color-terciary/80);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #242629;
    --text-color: #fffdf2;
  }
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: theme(--font-poppins);
}

h1,
h2,
h3 {
  font-family: theme(--font-montserrat);
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner[type='number'] {
  -moz-appearance: textfield;
}
