@import 'tailwindcss';

:root {
  --bg-color: #fffdf2;
  --text-color: #242629;
}
@theme {
  /* colors */
  --color-primary: oklch(0.2 0.0079 285.67);
  --color-secondary: oklch(0.27 0.0063 258.36);
  --color-terciary: oklch(0.99 0.0146 98.28);
  --color-button: oklch(0.91 0.15455 194.7689);
  --color-button-secondary: oklch(0.59 0.2143 289.47);
  /* fonts */
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
  /* animates */
  --animate-fadeIn: fadeIn 0.3s ease-in-out;
  --animate-fadeOut: fadeOut 0.3s ease-in-out;
  --animate-skeletonShimmer: SkeletonShimmer 1.5s linear infinite;
  /* collapsible animates */
  --animate-slideDownCollapsible: slideDownCollapsible 0.3s ease-in-out;
  --animate-slideUpCollapsible: slideUpCollapsible 0.3s ease-in-out;
  /* accordion animates */
  --animate-AccordionSlideDown: AccordionSlideDown 0.3s ease-out;
  --animate-AccordionSlideUp: AccordionSlideUp 0.3s ease-out;
  /* drawer variant animates */
  --animate-DrawerBottomInitial: DrawerBottomInitial 0.3s ease-in-out;
  --animate-DrawerBottomFinal: DrawerBottomFinal 0.3s ease-in-out;

  --animate-DrawerLeftInitial: DrawerLeftInitial 0.3s ease-in-out;
  --animate-DrawerLeftFinal: DrawerLeftFinal 0.3s ease-in-out;

  --animate-DrawerRightInitial: DrawerRightInitial 0.3s ease-in-out;
  --animate-DrawerRightFinal: DrawerRightFinal 0.3s ease-in-out;

  @keyframes slideDownCollapsible {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes slideUpCollapsible {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes AccordionSlideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes AccordionSlideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      scale: 0;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
      scale: 1;
    }
    to {
      opacity: 0;
      scale: 0;
    }
  }
  @keyframes SkeletonShimmer {
    from {
      transform: translateX(-110%);
    }
    to {
      transform: translateX(110%);
    }
  }
  @keyframes DrawerBottomInitial {
    from {
      opacity: 0;
      transform: translateY(100%);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes DrawerBottomFinal {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(100%);
    }
  }

  @keyframes DrawerLeftInitial {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes DrawerLeftFinal {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  }

  @keyframes DrawerRightInitial {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes DrawerRightFinal {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: theme(--color-primary) theme(--color-secondary);
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: theme(--color-secondary);
    border-radius: 4px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: theme(--color-terciary/80);
  }

  input[type='search']::-webkit-search-cancel-button {
    display: none;
    -webkit-appearance: none;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px theme(--color-terciary) inset !important;
    -webkit-text-fill-color: theme(--color-secondary) !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  @media (prefers-color-scheme: dark) {
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px theme(--color-secondary) inset !important; /* bg desejado */
      -webkit-text-fill-color: theme(--color-terciary) !important;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #242629;
    --text-color: #fffdf2;
  }
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: theme(--font-poppins);
}

h1,
h2,
h3 {
  font-family: theme(--font-montserrat);
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner[type='number'] {
  -moz-appearance: textfield;
}
